
@import "bootstrap_variables.css.less";

#countdown{
   font-family:digit;
   font-size: 100px;
   color:red;
   line-height:100px;
   margin:auto;
   text-align: center;
   margin-left:-40px;
}

.next_style {
    position:absolute;
    top:10px;
    right:10px;
    z-index:1000;
}

.perc-33 {
    width:33%;
    float:left;
    text-align:center;
}

.style-0 {
    color:#0099FF;
}

.style-1 {
    color:#FFFF00;
}

.style-2 {
    color:#FF0000;
}

.bars-container {
    position:absolute;
    left:0;
    right:0;
    top:150px;
    bottom:40px;
}

.bars {
    height:100%;
    div {
        margin:0 5%;
        width:23%;

        float:left;

        min-height:48px;
        vertical-align: bottom;

        position:absolute;
        bottom:0;

        .transition(height 0.5s);

        .label {
            position:absolute;
            top:-24px;

            font-size:18px;

            display:block;
            text-align:center;
            width:100%;
            line-height:24px;
        }
        
        .inner-label {
            color:black;
            top:0px;
        }
        
    }

    .bar-0 {
        background:#0099FF;
    }

    .bar-1 {
        background:#FFFF00;
        height:100px;
        left:33%;
    }

    .bar-2 {
        background:#FF0000;
        left:66%;
    }
}

.votes {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}