
@import "bootstrap_variables.css.less";

#countdown{
    font-family:digit;
    font-weight:normal;

    font-size: 100px;
    color:red;
    line-height:100px;
    margin:auto;
    text-align: center;

    margin-left:-5%;
}

.next_style {
    position:absolute;
    top:10px;
    right:10px;
    z-index:1000;
}

.perc-33 {
    width:33%;
    float:left;
    text-align:center;
}

.style-0 {
    color:#0099FF;
}

.style-1 {
    color:#FFFF00;
}

.style-2 {
    color:#FF0000;
}

.bars-container {
    position:absolute;
    left:0;
    right:0;
    top:150px;
    bottom:40px;
}

.bars {
    height:100%;
    div {
        margin:0 5%;
        width:23%;

        float:left;

        min-height:2.4em;
        font-size:40px;
        line-height:1.2em;

        vertical-align: bottom;

        position:absolute;
        bottom:0;

        .transition(height 0.5s);

        .label,
        .inner-label {
            display:block;
            text-align:center;
            width:100%;
        }

        .label {
            position:absolute;
            top:-1.1em;
        }
        
        .inner-label {
            color:#222;
        }
        
    }

    .bar-0 {
        background:#0099FF;
    }

    .bar-1 {
        background:#FFFF00;
        left:33%;
    }

    .bar-2 {
        background:#FF0000;
        left:66%;
    }
}

.votes {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}


@-webkit-keyframes flash {
	0%, 50%, 100% {opacity: 1; -webkit-transform: scale(1.1);}	
	25%, 75% {opacity: 0; -webkit-transform: scale(1);}
}

@-moz-keyframes flash {
	0%, 50%, 100% {opacity: 1; -moz-transform: scale(1.1);}	
	25%, 75% {opacity: 0; -moz-transform: scale(1);}
}

@-o-keyframes flash {
	0%, 50%, 100% {opacity: 1; -o-transform: scale(1.1);}	
	25%, 75% {opacity: 0; -o-transform: scale(1);}
}

@keyframes flash {
	0%, 50%, 100% {opacity: 1; transform: scale(1.1);}	
	25%, 75% {opacity: 0; transform: scale(1);}
}

.flash {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: flash;
    -moz-animation-name: flash;
    -o-animation-name: flash;
    animation-name: flash;
}



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {
    #countdown {
        font-size:50px;
        line-height:50px;
        margin-left:-10%;
    }

    .bars-container {
        top:100px;
    }

    .bars {
        div {
            font-size:14px;

            .label {
                top:-1.2em;
            }
        }
    }
}